repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.6.9"
  hooks:
  - id: ruff
    args: [--fix, --show-fixes]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v1.11.2"
  hooks:
    - id: mypy
      files: src
      args: []

- repo: https://github.com/abravalheri/validate-pyproject
  rev: "v0.20.2"
  hooks:
    - id: validate-pyproject
      additional_dependencies: ["validate-pyproject-schema-store[all]"]

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: "0.29.4"
  hooks:
    - id: check-dependabot
    - id: check-github-workflows
    - id: check-readthedocs
