include CMakeLists.txt
include NinjaUrls.cmake
include requirements-dev.txt
include HISTORY.rst
include README.rst
include LICENSE_Apache_20

recursive-exclude _skbuild *
recursive-exclude src *

include versioneer.py
include ninja/_version.py
