include CMakeLists.txt
include NinjaUrls.cmake
include requirements-test.txt
include HISTORY.rst
include README.rst
include LICENSE_Apache_20

recursive-exclude _skbuild *
recursive-exclude Ninja-src *

include versioneer.py
include src/ninja/_version.py
include src/ninja/__init__.pyi
include src/ninja/py.typed
